    <ngb-carousel>
        <ng-template ngbSlide>
            <img src="../../../content/images/fsr2.jpg" alt="Delhi Metro" style="align-items: center;">
            <div class="carousel-caption">
                <h3 style="color: orange">Hadi La Fac</h3>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="../../../content/images/fsr1.jpg" alt="Bangalore Metro" style="align-items: center;">
            <div class="carousel-caption">
                <h3 style="color: orange">W Hadi Jrida d La fac</h3>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="../../../content/images/fsr3.jpg" alt="Channai Metro" style="align-items: center;">
            <div class="carousel-caption">
                <h3 style="color: orange">W hado Tlamd d la Fac, ehhh BILAH</h3>
            </div>
        </ng-template>

    </ngb-carousel>

