    <ngb-carousel >
        <ng-template ngbSlide >
            <img src="../../../content/images/ooo.jpg" alt="Delhi Metro" style="align-items: center;">
            <div class="carousel-caption">
                <h3 style="color: white">FSR, Une faculé pas comme les autres!</h3>
            </div>
        </ng-template >
        <ng-template ngbSlide >
            <img src="../../../content/images/kkk.jpg" alt="Bangalore Metro" style="align-items: center;">
            <div class="carousel-caption">
                <h3 style="color: white">Comment la faculté a choisi d'assurer les bonnes conditions durant les examens en présentiel ?</h3>
            </div>
        </ng-template >
        <ng-template ngbSlide>
            <img src="../../../content/images/mmm.jpg" alt="Channai Metro" style="align-items: center;">
            <div class="carousel-caption">
                <h3 style="color: white">il faut "vivre avec le virus", selon Amzazi</h3>
            </div>
        </ng-template>

    </ngb-carousel>

