<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="historiqueEnseignantModule">
            <h2><span jhiTranslate="sequortalibApp.historiqueEnseignantModule.detail.title">Historique Enseignant Module</span> {{ historiqueEnseignantModule.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sequortalibApp.historiqueEnseignantModule.datedebut">Datedebut</span></dt>
                <dd>
                    <span>{{ historiqueEnseignantModule.datedebut }}</span>
                </dd>
                <dt><span jhiTranslate="sequortalibApp.historiqueEnseignantModule.datefin">Datefin</span></dt>
                <dd>
                    <span>{{ historiqueEnseignantModule.datefin }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/historique-enseignant-module', historiqueEnseignantModule.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
