<div class="card jh-card">
<div class="container-fluid mt-2" *ngIf="account.login === 'meryem'">
    <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0 text-center">Semestre 5 : Meryem</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Module</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Note</th>
                            <th scope="col">VLD</th>
                            <th scope="col">Etat</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">
                                M27
                            </th>
                            <th scope="row">
                                Electronique Analogique
                            </th>
                            <td>
                                13.77
                            </td>
                            <td>
                                <span class="badge badge-success">Validé</span>
                            </td>
                            <td>
                                V.AV
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                M28
                            </th>
                            <th scope="row">
                                Mécanique Analytique et Vibrations
                            </th>
                            <td>
                                18
                            </td>
                            <td>
                                <span class="badge badge-success">Validé</span>
                            </td>
                            <td>
                                V.AR
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                M29
                            </th>
                            <th scope="row">
                                Physique Nucléaire
                            </th>
                            <td>
                                9.98
                            </td>
                            <td>
                                <span class="badge badge-danger">Non Validé</span>
                            </td>
                            <td>
                                V.C.S
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                M30
                            </th>
                            <th scope="row">
                                Physique des Matériaux
                            </th>
                            <td>
                                10
                            </td>
                            <td>
                                <span class="badge badge-success">Validé</span>
                            </td>
                            <td>
                                V.AP
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                M31
                            </th>
                            <th scope="row">
                                Physique Quantique
                            </th>
                            <td>
                                6
                            </td>
                            <td>
                                <span class="badge badge-danger">Non Validé</span>
                            </td>
                            <td>
                                V.C.S
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                M32
                            </th>
                            <th scope="row">
                                Physique Statistique
                            </th>
                            <td>
                                9
                            </td>
                            <td>
                                <span class="badge badge-danger">Non Validé</span>
                            </td>
                            <td>
                                V.C.S
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


