<!-- Notes semestre 1 de Simo -->

<div class="container-fluid mt-2" *ngIf="account.login === 'mohamed000'">
    <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0 text-center">Semestre 1 : Mohamed</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Module</th>
                            <th scope="col">Note</th>
                            <th scope="col">VLD</th>
                            <th scope="col">Etat</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">
                                Analyse 1 : Suites numériques et fonctions
                            </th>
                            <td>
                                06.00
                            </td>
                            <td>
                                <span class="badge badge-danger">Non Validé</span>
                            </td>
                            <td>
                                V.C.S
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Algèbre 1 :Généralités et arithmétique dans Z
                            </th>
                            <td>
                                10.50
                            </td>
                            <td>
                                <span class="badge badge-success">Validé</span>
                            </td>
                            <td>
                                V.AV
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Algèbre 2 : Structures, polynômes et fractions rationnelles
                            </th>
                            <td>
                                10.25
                            </td>
                            <td>
                                <span class="badge badge-success">Validé</span>
                            </td>
                            <td>
                                V.AP
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Mécanique 1
                            </th>
                            <td>
                                07.50
                            </td>
                            <td>
                                <span class="badge badge-danger">Non Validé</span>
                            </td>
                            <td>
                                V.C.S
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Thermodynamique
                            </th>
                            <td>
                                12.00
                            </td>
                            <td>
                                <span class="badge badge-success">Validé</span>
                            </td>
                            <td>
                                V.AV
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Introduction à l’informatique
                            </th>
                            <td>
                                13.50
                            </td>
                            <td>
                                <span class="badge badge-success">Validé</span>
                            </td>
                            <td>
                                V.AP
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Langue et terminologie I
                            </th>
                            <td>
                                13.00
                            </td>
                            <td>
                                <span class="badge badge-success">Validé</span>
                            </td>
                            <td>
                                V.AV
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card bg-gradient-default shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-light ls-1 mb-1">Note semestre</h6>
                            <h2 class="text-white mb-0">10.40</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Chart -->
                    <div >
                        <!-- Chart wrapper -->
                        <canvas baseChart
                                [chartType]="'bar'"
                                [datasets]="chartData1mohamed"
                                [labels]="chartLabels1mohamed"
                                [options]="chartOptions1mohamed"
                                [legend]="true"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Notes semestre 1 de Simo -->

<div class="container-fluid mt-2" *ngIf="account.login === 'meryem'">
    <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0 text-center">Semestre 1 : Meryem</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Module</th>
                            <th scope="col">Note</th>
                            <th scope="col">VLD</th>
                            <th scope="col">Etat</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">
                                Analyse 1 : Suites numériques et fonctions
                            </th>
                            <td>
                                12.5
                            </td>
                            <td>
                                <span class="badge badge-success">Validé</span>
                            </td>
                            <td>
                                V.AP
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Algèbre 1 :Généralités et arithmétique dans Z
                            </th>
                            <td>
                                9.5
                            </td>
                            <td>
                                <span class="badge badge-danger">Non validé</span>
                            </td>
                            <td>
                                V.C.S
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Atomistique
                            </th>
                            <td>
                                15.25
                            </td>
                            <td>
                                <span class="badge badge-success">Validé</span>
                            </td>
                            <td>
                                V.AV
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Mécanique du point
                            </th>
                            <td>
                                07.50
                            </td>
                            <td>
                                <span class="badge badge-danger">Non Validé</span>
                            </td>
                            <td>
                                V.C.S
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Thermodynamique
                            </th>
                            <td>
                                17.00
                            </td>
                            <td>
                                <span class="badge badge-success">Validé</span>
                            </td>
                            <td>
                                V.AP
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Thermochimie
                            </th>
                            <td>
                                11
                            </td>
                            <td>
                                <span class="badge badge-success">Validé</span>
                            </td>
                            <td>
                                V.AP
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Langue et terminologie I
                            </th>
                            <td>
                                10.00
                            </td>
                            <td>
                                <span class="badge badge-success">Validé</span>
                            </td>
                            <td>
                                V.AV
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card bg-gradient-default shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-light ls-1 mb-1">Note semestre:</h6>
                            <h2 class="text-white mb-0">11.82</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Chart -->
                    <div >
                        <!-- Chart wrapper -->
                        <canvas baseChart
                                [chartType]="'bar'"
                                [datasets]="chartData1meryem"
                                [labels]="chartLabels1meryem"
                                [options]="chartOptions1meryem"
                                [legend]="true"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<div class="container-fluid mt-2" *ngIf="account.login === 'rachid'">
    <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0 text-center">Semestre 1 : Rachid</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Module</th>
                            <th scope="col">Note</th>
                            <th scope="col">VLD</th>
                            <th scope="col">Etat</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">
                                Biologie cellulaire
                            </th>
                            <td>
                                16
                            </td>
                            <td>
                                <span class="badge badge-success">Validé</span>
                            </td>
                            <td>
                                V.AV
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Enmbryologie et Histologie
                            </th>
                            <td>
                                12
                            </td>
                            <td>
                                <span class="badge badge-success">validé</span>
                            </td>
                            <td>
                                V.AP
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Géologie générales
                            </th>
                            <td>
                                6.75
                            </td>
                            <td>
                                <span class="badge badge-danger">Non validé</span>
                            </td>
                            <td>
                                V.AV
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Mathématique
                            </th>
                            <td>
                                13
                            </td>
                            <td>
                                <span class="badge badge-success">Validé</span>
                            </td>
                            <td>
                                V.AR
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Optique-Physique nucléaire et Thermodynamique
                            </th>
                            <td>
                                9
                            </td>
                            <td>
                                <span class="badge badge-danger">Non validé</span>
                            </td>
                            <td>
                                V.C.S
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Chimie générale
                            </th>
                            <td>
                                16
                            </td>
                            <td>
                                <span class="badge badge-success">Validé</span>
                            </td>
                            <td>
                                V.AP
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Langue et terminologie I
                            </th>
                            <td>
                                16
                            </td>
                            <td>
                                <span class="badge badge-success">Validé</span>
                            </td>
                            <td>
                                V.AV
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card bg-gradient-default shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-light ls-1 mb-1">Note semestre:</h6>
                            <h2 class="text-white mb-0">12.68</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Chart -->
                    <div >
                        <!-- Chart wrapper -->
                        <canvas baseChart
                                [chartType]="'bar'"
                                [datasets]="chartData1rachid"
                                [labels]="chartLabels1rachid"
                                [options]="chartOptions1rachid"
                                [legend]="true"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
