<div class="card jh-card">
    <div class="col-xl-12 order-xl-1">
        <div class="card">
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h2 id="jhi-etudiant-heading" jhiTranslate="sequortalibApp.etudiant.home.createOrEditLabel" class="text-center">Create or edit a Etudiant</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <jhi-alert-error></jhi-alert-error>
                        <h6 class="heading-small text-muted mb-4">User information</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <!--
                                <div class="col-lg-6">
                                    <div class="form-group" [hidden]="!editForm.get('id')!.value" >
                                        <label for="id" jhiTranslate="global.field.id">ID</label>
                                        <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                                    </div>
                                </div>-->

                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" jhiTranslate="sequortalibApp.etudiant.cin" for="field_cin">Cin</label>
                                        <input type="text" class="form-control" name="cin" id="field_cin"
                                               formControlName="cin"/>
                                        <div *ngIf="editForm.get('cin')!.invalid && (editForm.get('cin')!.dirty || editForm.get('cin')!.touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('cin')?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" jhiTranslate="sequortalibApp.etudiant.tel" for="field_tel">Numéro fixe</label>
                                        <input type="number" class="form-control" name="tel" id="field_tel"
                                               formControlName="tel"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" jhiTranslate="sequortalibApp.etudiant.datenaissance" for="field_datenaissance">Datenaissance</label>
                                        <div class="input-group">
                                            <input id="field_datenaissance" type="text" class="form-control" name="datenaissance" ngbDatepicker #datenaissanceDp="ngbDatepicker" formControlName="datenaissance"/>
                                            <span class="input-group-append">
                                             <button type="button" class="btn btn-secondary" (click)="datenaissanceDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label"  for="field_codeEtudiant">Numéro GSM</label>
                                        <input type="number" class="form-control" name="codeEtudiant" id="field_codeEtudiant"
                                               formControlName="codeEtudiant"/>
                                        <div *ngIf="editForm.get('codeEtudiant')!.invalid && (editForm.get('codeEtudiant')!.dirty || editForm.get('codeEtudiant')!.touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('codeEtudiant')?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.get('codeEtudiant')?.errors?.number" jhiTranslate="entity.validation.number">
                                                This field should be a number.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" jhiTranslate="sequortalibApp.etudiant.etat" for="field_etat">Etat</label>
                                        <select class="form-control" name="etat" formControlName="etat" id="field_etat">
                                            <option value="DIPLOME">{{ 'sequortalibApp.Status.DIPLOME' | translate }}</option>
                                            <option value="NONDIPLOME">{{ 'sequortalibApp.Status.NONDIPLOME' | translate }}</option>
                                        </select>
                                        <div *ngIf="editForm.get('etat')!.invalid && (editForm.get('etat')!.dirty || editForm.get('etat')!.touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('etat')?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <h6 class="heading-small text-muted mb-4">Etudiants Diplomés</h6>
                        <div class="pl-lg-4" [hidden]="editForm.get('etat')!.value==='NONDIPLOME' || !editForm.get('etat')!.value">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label  class="form-control-label" jhiTranslate="sequortalibApp.etudiant.etablissement" for="field_etablissement">Etablissement</label>
                                        <select  class="form-control" id="field_etablissement" name="etablissement" formControlName="etablissement">
                                            <option  [ngValue]="null"></option>
                                            <option  [ngValue]="etablissementOption.id === editForm.get('etablissement')!.value?.id ? editForm.get('etablissement')!.value : etablissementOption" *ngFor="let etablissementOption of etablissements; trackBy: trackById">{{ etablissementOption.nom }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="field_section">Filiere/Branche</label>
                                        <input type="text" class="form-control" name="section" id="field_section"
                                               formControlName="section"/>
                                        <div *ngIf="editForm.get('section')!.invalid && (editForm.get('section')!.dirty || editForm.get('section')!.touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('section')?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label"  for="field_semsetre">Promo</label>
                                        <input type="number" class="form-control" name="semsetre" id="field_semsetre"
                                               formControlName="semsetre"/>
                                        <div *ngIf="editForm.get('semsetre')!.invalid && (editForm.get('semsetre')!.dirty || editForm.get('semsetre')!.touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('semsetre')?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.get('semsetre')?.errors?.number" jhiTranslate="entity.validation.number">
                                                This field should be a number.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <hr class="my-4" />
                        <h6 class="heading-small text-muted mb-4">Etudiants non Diplomés</h6>
                        <div class="pl-lg-4" [hidden]="editForm.get('etat')!.value==='DIPLOME' || !editForm.get('etat')!.value">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" jhiTranslate="sequortalibApp.etudiant.user" for="field_user">User</label>
                                        <select class="form-control" id="field_user" name="user" formControlName="user">
                                            <option [ngValue]="null"></option>
                                            <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" jhiTranslate="sequortalibApp.etudiant.filiere" for="field_filiere">Filiere</label>
                                        <select class="form-control" id="field_filiere" name="filiere" formControlName="filiere">
                                            <option [ngValue]="null"></option>
                                            <option [ngValue]="filiereOption.id === editForm.get('filiere')!.value?.id ? editForm.get('filiere')!.value : filiereOption" *ngFor="let filiereOption of filieres; trackBy: trackById">{{ filiereOption.nom }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" jhiTranslate="sequortalibApp.etudiant.semsetre" for="field_semsetre">Semsetre</label>
                                        <input type="number" class="form-control" name="semsetre" id="field_semsetre"
                                               formControlName="semsetre"/>
                                        <div *ngIf="editForm.get('semsetre')!.invalid && (editForm.get('semsetre')!.dirty || editForm.get('semsetre')!.touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('semsetre')?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.get('semsetre')?.errors?.number" jhiTranslate="entity.validation.number">
                                                This field should be a number.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" jhiTranslate="sequortalibApp.etudiant.section" for="field_section">Section</label>
                                        <input type="text" class="form-control" name="section" id="field_section"
                                               formControlName="section"/>
                                        <div *ngIf="editForm.get('section')!.invalid && (editForm.get('section')!.dirty || editForm.get('section')!.touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('section')?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="justify-content-between">
                        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>

                        <button type="submit" id="save-entity" [disabled]="editForm.invalid ||isSaving" class="btn btn-primary">
                            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



