<div class="card jh-card">
    <h2 id="page-heading">
        <span jhiTranslate="sequortalibApp.module.home.title">Modules</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-module" [routerLink]="['/module/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sequortalibApp.module.home.createLabel">
            Create a new Module
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="modules?.length === 0">
        <span jhiTranslate="sequortalibApp.module.home.notFound">No modules found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="modules?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="sequortalibApp.module.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="semester"><span jhiTranslate="sequortalibApp.module.semester">Semester</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="filiere.nom"><span jhiTranslate="sequortalibApp.module.filiere">Filiere</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let module of modules ;trackBy: trackId">
                    <td><a [routerLink]="['/module', module.id, 'view']">{{ module.id }}</a></td>
                    <td>{{ module.nom }}</td>
                    <td>{{ module.semester }}</td>
                    <td>
                        <div *ngIf="module.filiere">
                            <a [routerLink]="['/filiere', module.filiere?.id, 'view']" >{{ module.filiere?.nom }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/module', module.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit" (click)="delete(module)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

