<div class="card jh-card">
<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-historique-etudiant-module-heading" jhiTranslate="sequortalibApp.historiqueEtudiantModule.home.createOrEditLabel">Create or edit a Historique Etudiant Module</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sequortalibApp.historiqueEtudiantModule.note" for="field_note">Note</label>
                    <input type="number" class="form-control" name="note" id="field_note"
                           formControlName="note"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sequortalibApp.historiqueEtudiantModule.validation" for="field_validation">Validation</label>
                    <select class="form-control" name="validation" formControlName="validation" id="field_validation">
                        <option value="V">{{ 'sequortalibApp.Valider.V' | translate }}</option>
                        <option value="NV">{{ 'sequortalibApp.Valider.NV' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sequortalibApp.historiqueEtudiantModule.etat" for="field_etat">Etat</label>
                    <select class="form-control" name="etat" formControlName="etat" id="field_etat">
                        <option value="VCS">{{ 'sequortalibApp.Typevalidation.VCS' | translate }}</option>
                        <option value="VCA">{{ 'sequortalibApp.Typevalidation.VCA' | translate }}</option>
                        <option value="VAV">{{ 'sequortalibApp.Typevalidation.VAV' | translate }}</option>
                        <option value="VAP">{{ 'sequortalibApp.Typevalidation.VAP' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sequortalibApp.historiqueEtudiantModule.etudiant" for="field_etudiant">Etudiant</label>
                    <select class="form-control" id="field_etudiant" name="etudiant" formControlName="etudiant">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="etudiantOption.id === editForm.get('etudiant')!.value?.id ? editForm.get('etudiant')!.value : etudiantOption" *ngFor="let etudiantOption of etudiants; trackBy: trackById">{{ etudiantOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sequortalibApp.historiqueEtudiantModule.module" for="field_module">Module</label>
                    <select class="form-control" id="field_module" name="module" formControlName="module">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="moduleOption.id === editForm.get('module')!.value?.id ? editForm.get('module')!.value : moduleOption" *ngFor="let moduleOption of modules; trackBy: trackById">{{ moduleOption.nom }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
</div>
