<div class="card jh-card">
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="historiqueEtudiantModule">
            <h2><span jhiTranslate="sequortalibApp.historiqueEtudiantModule.detail.title">Historique Etudiant Module</span> {{ historiqueEtudiantModule.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sequortalibApp.historiqueEtudiantModule.note">Note</span></dt>
                <dd>
                    <span>{{ historiqueEtudiantModule.note }}</span>
                </dd>
                <dt><span jhiTranslate="sequortalibApp.historiqueEtudiantModule.validation">Validation</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'sequortalibApp.Valider.' + historiqueEtudiantModule.validation }}">{{ historiqueEtudiantModule.validation }}</span>
                </dd>
                <dt><span jhiTranslate="sequortalibApp.historiqueEtudiantModule.etat">Etat</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'sequortalibApp.Typevalidation.' + historiqueEtudiantModule.etat }}">{{ historiqueEtudiantModule.etat }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/historique-etudiant-module', historiqueEtudiantModule.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
</div>
