<div class="card jh-card">
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="filiere">
            <h2><span jhiTranslate="sequortalibApp.filiere.detail.title">Filiere</span> {{ filiere.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sequortalibApp.filiere.nom">Nom</span></dt>
                <dd>
                    <span>{{ filiere.nom }}</span>
                </dd>
                <dt><span jhiTranslate="sequortalibApp.filiere.departement">Departement</span></dt>
                <dd>
                    <div *ngIf="filiere.departement">
                        <a [routerLink]="['/departement', filiere.departement?.id, 'view']">{{ filiere.departement?.nom }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sequortalibApp.filiere.enseignant">Enseignant</span></dt>
                <dd>
                    <span *ngFor="let enseignant of filiere.enseignants; let last = last">
                        <a [routerLink]="['/enseignant', enseignant?.id, 'view']">{{ enseignant.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/filiere', filiere.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
</div>
