<!--<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 jhiTranslate="register.title">Registration</h1>

            <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
                <strong>Email is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
                <div class="form-group">
                    <label class="form-control-label" for="login" jhiTranslate="global.form.username.label">Username</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="{{ 'global.form.username.placeholder' | translate }}"
                           formControlName="login" #login>

                    <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('login')?.errors?.required"
                               jhiTranslate="register.messages.validate.login.required">
                            Your username is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('login')?.errors?.minlength"
                               jhiTranslate="register.messages.validate.login.minlength">
                            Your username is required to be at least 1 character.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('login')?.errors?.maxlength"
                               jhiTranslate="register.messages.validate.login.maxlength">
                            Your username cannot be longer than 50 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('login')?.errors?.pattern"
                               jhiTranslate="register.messages.validate.login.pattern">
                            Your username can only contain letters and digits.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="email" jhiTranslate="global.form.email.label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{ 'global.form.email.placeholder' | translate }}"
                             formControlName="email">

                    <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('email')?.errors?.required"
                               jhiTranslate="global.messages.validate.email.required">
                            Your email is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('email')?.errors?.invalid"
                               jhiTranslate="global.messages.validate.email.invalid">
                            Your email is invalid.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('email')?.errors?.minlength"
                               jhiTranslate="global.messages.validate.email.minlength">
                            Your email is required to be at least 5 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('email')?.errors?.maxlength"
                               jhiTranslate="global.messages.validate.email.maxlength">
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="password" jhiTranslate="global.form.newpassword.label">New password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                            formControlName="password">

                    <div *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('password')?.errors?.required"
                               jhiTranslate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('password')?.errors?.minlength"
                               jhiTranslate="global.messages.validate.newpassword.minlength">
                            Your password is required to be at least 4 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('password')?.errors?.maxlength"
                               jhiTranslate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 50 characters.
                        </small>
                    </div>

                    <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                            formControlName="confirmPassword">

                    <div *ngIf="registerForm.get('confirmPassword')!.invalid && (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('confirmPassword')?.errors?.required"
                               jhiTranslate="global.messages.validate.confirmpassword.required">
                            Your confirmation password is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
                               jhiTranslate="global.messages.validate.confirmpassword.minlength">
                            Your confirmation password is required to be at least 4 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"
                               jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary" jhiTranslate="register.form.button">Register</button>
            </form>

        </div>
    </div>
</div>-->

<!--
<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white">Welcome!</h1>
                    <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
    <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
        <strong>Registration saved!</strong> Please check your email for confirmation.
    </div>

    <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
        <strong>Registration failed!</strong> Please try again later.
    </div>

    <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
        <strong>Login name already registered!</strong> Please choose another one.
    </div>

    <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
        <strong>Email is already in use!</strong> Please choose another one.
    </div>

    <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
        The password and its confirmation do not match!
    </div>
    </div>


    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>

<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <small>Register</small>
                    </div>
                    <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
                        <div class="form-group">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                            <input type="text" class="form-control" id="login" name="login" placeholder="{{ 'global.form.username.placeholder' | translate }}"
                                   formControlName="login" #login>
                            </div>

                            <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="registerForm.get('login')?.errors?.required"
                                       jhiTranslate="register.messages.validate.login.required">
                                    Your username is required.
                                </small>

                                <small class="form-text text-danger"
                                       *ngIf="registerForm.get('login')?.errors?.minlength"
                                       jhiTranslate="register.messages.validate.login.minlength">
                                    Your username is required to be at least 1 character.
                                </small>

                                <small class="form-text text-danger"
                                       *ngIf="registerForm.get('login')?.errors?.maxlength"
                                       jhiTranslate="register.messages.validate.login.maxlength">
                                    Your username cannot be longer than 50 characters.
                                </small>

                                <small class="form-text text-danger"
                                       *ngIf="registerForm.get('login')?.errors?.pattern"
                                       jhiTranslate="register.messages.validate.login.pattern">
                                    Your username can only contain letters and digits.
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                            <input type="email" class="form-control" id="email" name="email" placeholder="{{ 'global.form.email.placeholder' | translate }}"
                                   formControlName="email">
                            </div>

                            <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="registerForm.get('email')?.errors?.required"
                                       jhiTranslate="global.messages.validate.email.required">
                                    Your email is required.
                                </small>

                                <small class="form-text text-danger"
                                       *ngIf="registerForm.get('email')?.errors?.invalid"
                                       jhiTranslate="global.messages.validate.email.invalid">
                                    Your email is invalid.
                                </small>

                                <small class="form-text text-danger"
                                       *ngIf="registerForm.get('email')?.errors?.minlength"
                                       jhiTranslate="global.messages.validate.email.minlength">
                                    Your email is required to be at least 5 characters.
                                </small>

                                <small class="form-text text-danger"
                                       *ngIf="registerForm.get('email')?.errors?.maxlength"
                                       jhiTranslate="global.messages.validate.email.maxlength">
                                    Your email cannot be longer than 100 characters.
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                            <input type="password" class="form-control" id="password" name="password" placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                                   formControlName="password">
                            </div>

                            <div *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="registerForm.get('password')?.errors?.required"
                                       jhiTranslate="global.messages.validate.newpassword.required">
                                    Your password is required.
                                </small>

                                <small class="form-text text-danger"
                                       *ngIf="registerForm.get('password')?.errors?.minlength"
                                       jhiTranslate="global.messages.validate.newpassword.minlength">
                                    Your password is required to be at least 4 characters.
                                </small>

                                <small class="form-text text-danger"
                                       *ngIf="registerForm.get('password')?.errors?.maxlength"
                                       jhiTranslate="global.messages.validate.newpassword.maxlength">
                                    Your password cannot be longer than 50 characters.
                                </small>
                            </div>

                            <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                                   formControlName="confirmPassword">
                            </div>

                            <div *ngIf="registerForm.get('confirmPassword')!.invalid && (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="registerForm.get('confirmPassword')?.errors?.required"
                                       jhiTranslate="global.messages.validate.confirmpassword.required">
                                    Your confirmation password is required.
                                </small>

                                <small class="form-text text-danger"
                                       *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
                                       jhiTranslate="global.messages.validate.confirmpassword.minlength">
                                    Your confirmation password is required to be at least 4 characters.
                                </small>

                                <small class="form-text text-danger"
                                       *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"
                                       jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                                    Your confirmation password cannot be longer than 50 characters.
                                </small>
                            </div>
                        </div>
                        <div class="text-center">
                        <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary" jhiTranslate="register.form.button">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>-->


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>Argon Dashboard - Free Dashboard for Bootstrap 4</title>
    <!-- Favicon -->
    <link rel="icon" href="../assets/img/brand/favicon.png" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->


    <!-- Argon CSS -->
    <link rel="stylesheet"  type="text/css">
</head>

<body class="bg-default">
<!-- Navbar
<nav id="navbar-main" class="navbar navbar-horizontal navbar-transparent navbar-main navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="dashboard.html">

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse navbar-custom-collapse collapse" id="navbar-collapse">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="dashboard.html">

                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="dashboard.html" class="nav-link">
                        <span class="nav-link-inner--text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="login.html" class="nav-link">
                        <span class="nav-link-inner--text">Login</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="register.html" class="nav-link">
                        <span class="nav-link-inner--text">Register</span>
                    </a>
                </li>
            </ul>
            <hr class="d-lg-none" />
            <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="https://www.facebook.com/creativetim" target="_blank" data-toggle="tooltip" data-original-title="Like us on Facebook">
                        <i class="fab fa-facebook-square"></i>
                        <span class="nav-link-inner--text d-lg-none">Facebook</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="https://www.instagram.com/creativetimofficial" target="_blank" data-toggle="tooltip" data-original-title="Follow us on Instagram">
                        <i class="fab fa-instagram"></i>
                        <span class="nav-link-inner--text d-lg-none">Instagram</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="https://twitter.com/creativetim" target="_blank" data-toggle="tooltip" data-original-title="Follow us on Twitter">
                        <i class="fab fa-twitter-square"></i>
                        <span class="nav-link-inner--text d-lg-none">Twitter</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="https://github.com/creativetimofficial" target="_blank" data-toggle="tooltip" data-original-title="Star us on Github">
                        <i class="fab fa-github"></i>
                        <span class="nav-link-inner--text d-lg-none">Github</span>
                    </a>
                </li>
                <li class="nav-item d-none d-lg-block ml-lg-4">
                    <a href="https://www.creative-tim.com/product/argon-dashboard-pro?ref=ad_upgrade_pro" target="_blank" class="btn btn-neutral btn-icon">
          <span class="btn-inner--icon">
            <i class="fas fa-shopping-cart mr-2"></i>
          </span>
                        <span class="nav-link-inner--text">Upgrade to PRO</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>-->
<!-- Main content -->
<div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-danger py-7 py-lg-8">
        <div class="container" *ngIf="compteEtudiant===false && compteEnseignant===false">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-6">

                        <h1 class="text-white" >Vous êtes ?</h1>
                        <!--
                        <p class="text-lead text-light">Si vous etes un etudiant, veuillez saisir un login sous la forme: Nom_Prenom_CodeEtudiant</p>
                        <p class="text-lead text-light">Si vous etes un enseignant, veuillez saisir un login sous la forme: Nom_Prenom</p>
                        -->
                        <button  class="btn btn-primary jh-create-entity" (click)="formulaireEtudiant()">
                            <fa-icon icon="user-graduate"></fa-icon>
                            <span>Etudiant</span>
                        </button>
                        <button  class="btn btn-primary jh-create-entity" (click)="formulaireEnseignant()">
                            <fa-icon icon="chalkboard-teacher"></fa-icon>
                            <span>Enseignant</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5" *ngIf="compteEnseignant===true">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary border-0 mb-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <small jhiTranslate="register.title">Register </small>
                        </div>

                        <div class="row justify-content-center">
                            <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
                                <strong>Registration saved!</strong> Please check your email for confirmation.
                            </div>

                            <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
                                <strong>Registration failed!</strong> Please try again later.
                            </div>

                            <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
                                <strong>Login name already registered!</strong> Please choose another one.
                            </div>

                            <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
                                <strong>Email is already in use!</strong> Please choose another one.
                            </div>

                            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                                The password and its confirmation do not match!
                            </div>
                        </div>


                        <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="login" name="login" placeholder="{{ 'global.form.enseignant.matricule' | translate }}"
                                           formControlName="login" #login>
                                </div>

                                <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('login')?.errors?.required"
                                           jhiTranslate="register.messages.validate.login.requiredEnseignant">
                                        Your username is required.
                                    </small>

                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('login')?.errors?.minlength"
                                           jhiTranslate="register.messages.validate.login.minlengthEnseignant">
                                        Your username is required to be at least 1 character.
                                    </small>

                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('login')?.errors?.maxlength"
                                           jhiTranslate="register.messages.validate.login.maxlengthEnseignant">
                                        Your username cannot be longer than 50 characters.
                                    </small>

                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('login')?.errors?.pattern"
                                           jhiTranslate="register.messages.validate.login.patternEnseignant">
                                        Your username can only contain letters and digits.
                                    </small>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                    </div>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="{{ 'global.form.email.placeholder' | translate }}"
                                           formControlName="email">
                                </div>

                                <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('email')?.errors?.required"
                                           jhiTranslate="global.messages.validate.email.required">
                                        Your email is required.
                                    </small>

                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('email')?.errors?.invalid"
                                           jhiTranslate="global.messages.validate.email.invalid">
                                        Your email is invalid.
                                    </small>

                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('email')?.errors?.minlength"
                                           jhiTranslate="global.messages.validate.email.minlength">
                                        Your email is required to be at least 5 characters.
                                    </small>

                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('email')?.errors?.maxlength"
                                           jhiTranslate="global.messages.validate.email.maxlength">
                                        Your email cannot be longer than 100 characters.
                                    </small>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                    </div>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                                           formControlName="password">
                                </div>

                                <div *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('password')?.errors?.required"
                                           jhiTranslate="global.messages.validate.newpassword.required">
                                        Your password is required.
                                    </small>

                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('password')?.errors?.minlength"
                                           jhiTranslate="global.messages.validate.newpassword.minlength">
                                        Your password is required to be at least 4 characters.
                                    </small>

                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('password')?.errors?.maxlength"
                                           jhiTranslate="global.messages.validate.newpassword.maxlength">
                                        Your password cannot be longer than 50 characters.
                                    </small>
                                </div>

                                <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
                            </div>

                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                    </div>
                                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                                           formControlName="confirmPassword">
                                </div>

                                <div *ngIf="registerForm.get('confirmPassword')!.invalid && (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('confirmPassword')?.errors?.required"
                                           jhiTranslate="global.messages.validate.confirmpassword.required">
                                        Your confirmation password is required.
                                    </small>

                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
                                           jhiTranslate="global.messages.validate.confirmpassword.minlength">
                                        Your confirmation password is required to be at least 4 characters.
                                    </small>

                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"
                                           jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                                        Your confirmation password cannot be longer than 50 characters.
                                    </small>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary" jhiTranslate="register.form.button">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container mt--8 pb-5" *ngIf="compteEtudiant===true">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary border-0 mb-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <small jhiTranslate="register.title">Register </small>
                        </div>

                        <div class="row justify-content-center">
                            <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
                                <strong>Registration saved!</strong> Please check your email for confirmation.
                            </div>

                            <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
                                <strong>Registration failed!</strong> Please try again later.
                            </div>

                            <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
                                <strong>Login name already registered!</strong> Please choose another one.
                            </div>

                            <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
                                <strong>Email is already in use!</strong> Please choose another one.
                            </div>

                            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                                The password and its confirmation do not match!
                            </div>
                        </div>


                        <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="login" name="login" placeholder="{{ 'global.form.etudiant.code' | translate }}"
                                           formControlName="login" #login>
                                </div>

                                <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('login')?.errors?.required"
                                           jhiTranslate="register.messages.validate.login.requiredEtudiant">
                                        Your username is required.
                                    </small>

                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('login')?.errors?.minlength"
                                           jhiTranslate="register.messages.validate.login.minlengthEtudiant">
                                        Your username is required to be at least 1 character.
                                    </small>

                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('login')?.errors?.maxlength"
                                           jhiTranslate="register.messages.validate.login.maxlengthEtudiant">
                                        Your username cannot be longer than 50 characters.
                                    </small>

                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('login')?.errors?.pattern"
                                           jhiTranslate="register.messages.validate.login.patternEtudiant">
                                        Your username can only contain letters and digits.
                                    </small>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                    </div>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="{{ 'global.form.email.placeholder' | translate }}"
                                           formControlName="email">
                                </div>

                                <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('email')?.errors?.required"
                                           jhiTranslate="global.messages.validate.email.required">
                                        Your email is required.
                                    </small>

                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('email')?.errors?.invalid"
                                           jhiTranslate="global.messages.validate.email.invalid">
                                        Your email is invalid.
                                    </small>

                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('email')?.errors?.minlength"
                                           jhiTranslate="global.messages.validate.email.minlength">
                                        Your email is required to be at least 5 characters.
                                    </small>

                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('email')?.errors?.maxlength"
                                           jhiTranslate="global.messages.validate.email.maxlength">
                                        Your email cannot be longer than 100 characters.
                                    </small>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                    </div>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                                           formControlName="password">
                                </div>

                                <div *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('password')?.errors?.required"
                                           jhiTranslate="global.messages.validate.newpassword.required">
                                        Your password is required.
                                    </small>

                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('password')?.errors?.minlength"
                                           jhiTranslate="global.messages.validate.newpassword.minlength">
                                        Your password is required to be at least 4 characters.
                                    </small>

                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('password')?.errors?.maxlength"
                                           jhiTranslate="global.messages.validate.newpassword.maxlength">
                                        Your password cannot be longer than 50 characters.
                                    </small>
                                </div>

                                <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
                            </div>

                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                    </div>
                                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                                           formControlName="confirmPassword">
                                </div>

                                <div *ngIf="registerForm.get('confirmPassword')!.invalid && (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('confirmPassword')?.errors?.required"
                                           jhiTranslate="global.messages.validate.confirmpassword.required">
                                        Your confirmation password is required.
                                    </small>

                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
                                           jhiTranslate="global.messages.validate.confirmpassword.minlength">
                                        Your confirmation password is required to be at least 4 characters.
                                    </small>

                                    <small class="form-text text-danger"
                                           *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"
                                           jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                                        Your confirmation password cannot be longer than 50 characters.
                                    </small>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary" jhiTranslate="register.form.button">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>










</div>
<!-- Footer -->
<footer class="py-5" id="footer-main">
    <div class="container">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
                <div class="copyright text-center text-xl-left text-muted">
                    &copy;  <a href="https://www.fsr.ac.ma" class="font-weight-bold ml-1" target="_blank">FSR</a>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="copyright text-center text-xl-center text-muted">
                    &copy;     LinkedIn
                </div>
                <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                    <li class="nav-item">
                        <a href="https://www.linkedin.com/in/mohamed-yahyaoui-022b0419a"  class="font-weight-bold ml-1" target="_blank">Mohamed Yahyaoui</a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
                    </li>
                    -->
                    <li class="nav-item">
                        <a href="https://www.linkedin.com/in/fatima-ezzahra-lataoui-25371a197"  class="font-weight-bold ml-1"target="_blank">Fatima Ezzahra Lataoui </a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
                    </li>
                    -->
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Argon Scripts -->
<!-- Core -->
<script src="../assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/vendor/js-cookie/js.cookie.js"></script>
<script src="../assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="../assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<!-- Argon JS -->
<script src="../assets/js/argon.js?v=1.2.0"></script>
</body>

</html>









<!--
FORMULAIRE



<form role="form">
                        <div class="form-group">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <input type="text" class="form-control" id="login" name="login" placeholder="{{ 'global.form.username.placeholder' | translate }}"
                           formControlName="login" #login>

                    <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('login')?.errors?.required"
                               jhiTranslate="register.messages.validate.login.required">
                            Your username is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('login')?.errors?.minlength"
                               jhiTranslate="register.messages.validate.login.minlength">
                            Your username is required to be at least 1 character.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('login')?.errors?.maxlength"
                               jhiTranslate="register.messages.validate.login.maxlength">
                            Your username cannot be longer than 50 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('login')?.errors?.pattern"
                               jhiTranslate="register.messages.validate.login.pattern">
                            Your username can only contain letters and digits.
                        </small>
                    </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" placeholder="Email" type="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                <input class="form-control" placeholder="Password" type="password">
                            </div>
                        </div>
                        <div class="text-muted font-italic"><small>password strength: <span class="text-success font-weight-700">strong</span></small></div>
                        <div class="row my-4">
                            <div class="col-12">
                                <div class="custom-control custom-control-alternative custom-checkbox">
                                    <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                                    <label class="custom-control-label" for="customCheckRegister">
                                        <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary mt-4">Create account</button>
                        </div>
                    </form>
-->

