<div class="card jh-card">
<div *ngIf="notemohamed===false && account.login==='fati1212'" >
    <div class="table-responsive" >
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col" >Code</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Semestre</th>
                <th scope="col" >Section</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody >
            <tr *ngFor="let etudiant of etudiants">
                <td>{{etudiant.code}}</td>
                <td>{{etudiant.nom}}</td>
                <td>{{etudiant.prenom}}</td>
                <td>{{etudiant.semestre}}</td>
                <td>{{etudiant.section}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button *ngIf="etudiant.nom === 'Yahyaoui'" (click)="shownotemohamed()" class="btn btn-info btn-sm">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="container-fluid mt-2" *ngIf="notemohamed===true">

    <div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
            <!-- Card body -->
            <a class="dropdown-item" (click)="shownotemohameds1()">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <span>Semestre 1</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                <i class="ni ni-active-40"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
            <!-- Card body -->
            <a class="dropdown-item" (click)="shownotemohameds2()">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <span>Semestre 2</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                <i class="ni ni-active-40"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
            <!-- Card body -->
            <a class="dropdown-item" (click)="shownotemohameds3()">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <span>Semestre 3</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                <i class="ni ni-active-40"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
            <!-- Card body -->
            <a class="dropdown-item" (click)="shownotemohameds4()">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <span>Semestre 4</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                <i class="ni ni-active-40"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    </div>




    <div class="container-fluid mt-2" *ngIf="notemohameds1===true">
        <div class="row">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0 text-center">Semestre 1 : Mohamed</h3>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Module</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Note</th>
                                <th scope="col">VLD</th>
                                <th scope="col">Etat</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">
                                    M1
                                </th>
                                <th scope="row">
                                    Analyse 1 : Suites numériques et fonctions
                                </th>
                                <td>
                                    06.00
                                </td>
                                <td>
                                    <span class="badge badge-danger">Non Validé</span>
                                </td>
                                <td>
                                    V.C.S
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    M2
                                </th>
                                <th scope="row">
                                    Algèbre 1 :Généralités et arithmétique dans Z
                                </th>
                                <td>
                                    10.50
                                </td>
                                <td>
                                    <span class="badge badge-success">Validé</span>
                                </td>
                                <td>
                                    V.AV
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    M3
                                </th>
                                <th scope="row">
                                    Algèbre 2 : Structures, polynômes et fractions rationnelles
                                </th>
                                <td>
                                    10.25
                                </td>
                                <td>
                                    <span class="badge badge-success">Validé</span>
                                </td>
                                <td>
                                    V.AP
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    M4
                                </th>
                                <th scope="row">
                                    Mécanique 1
                                </th>
                                <td>
                                    07.50
                                </td>
                                <td>
                                    <span class="badge badge-danger">Non Validé</span>
                                </td>
                                <td>
                                    V.C.S
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    M5
                                </th>
                                <th scope="row">
                                    Thermodynamique
                                </th>
                                <td>
                                    12.00
                                </td>
                                <td>
                                    <span class="badge badge-success">Validé</span>
                                </td>
                                <td>
                                    V.AV
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    M6
                                </th>
                                <th scope="row">
                                    Introduction à l’informatique
                                </th>
                                <td>
                                    13.50
                                </td>
                                <td>
                                    <span class="badge badge-success">Validé</span>
                                </td>
                                <td>
                                    V.AP
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    M7
                                </th>
                                <th scope="row">
                                    Langue et terminologie I
                                </th>
                                <td>
                                    13.00
                                </td>
                                <td>
                                    <span class="badge badge-success">Validé</span>
                                </td>
                                <td>
                                    V.AV
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>






    <div class="container-fluid mt-2" *ngIf="notemohameds1===true">
        <div class="row">

        </div>

    </div>



























    <div class="row mt-5" *ngIf="notemohamed===true && notemohameds1===false ">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card bg-gradient-default shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-light ls-1 mb-1">Bilan:</h6>
                            <h2 class="text-white mb-1">Moyennes des Semestres</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Chart -->
                    <div >
                        <!-- Chart wrapper -->
                        <canvas baseChart
                                [chartType]="'radar'"
                                [datasets]="chartDatamohamed"
                                [labels]="chartLabelsmohamed"
                                [options]="chartOptionsmohamed"
                                [legend]="true"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
