<!--<div class="row">

    <div class="col-md-12">

        <h1 class="display-4 text-center" jhiTranslate="home.title">Welcome, Java Hipster!</h1>

        <p class="lead text-center" jhiTranslate="home.subtitle">This is your homepage</p>
            <div class="container-fluid" *ngSwitchCase="false">
                <ngb-carousel>
                    <ng-template ngbSlide>
                        <img src="../../content/images/fsr2.jpg" alt="Delhi Metro" style="align-items: center;">
                        <div class="carousel-caption">
                            <h3 style="color: orange">Hadi La Fac</h3>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="../../content/images/fsr1.jpg" alt="Bangalore Metro" style="align-items: center;">
                        <div class="carousel-caption">
                            <h3 style="color: orange">W Hadi Jrida d La fac</h3>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="../../content/images/fsr3.jpg" alt="Channai Metro" style="align-items: center;">
                        <div class="carousel-caption">
                            <h3 style="color: orange">W hado Tlamd d la Fac, ehhh BILAH</h3>
                        </div>
                    </ng-template>

                </ngb-carousel>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>


        <div *jhiHasAnyAuthority="'ROLE_ETUDIANT'">
            <jhi-dashboard-etudiant></jhi-dashboard-etudiant>
        </div>

        <div *jhiHasAnyAuthority="'ROLE_ENSEIGNANT'">
            <jhi-dashboard-enseignant></jhi-dashboard-enseignant>
        </div>

    </div>
</div>
 -->

<div [ngSwitch]="isAuthenticated()">
<div class="card jh-card">
    <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                      [translateValues]="{ username: account.login }">You are logged in as user "{{ account.login }}".</span>
    </div>

    <div  *ngSwitchCase="true">
        <div class="row" *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                    <!-- Card body -->
                    <a class="dropdown-item" routerLink="filiere" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <span jhiTranslate="global.menu.entities.filiere">Filieres</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                        <i class="ni ni-active-40"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-sm">
                                <span class="text-nowrap">Nombre:</span>
                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 8</span>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                    <!-- Card body -->
                    <a class="dropdown-item" routerLink="departement" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <span jhiTranslate="global.menu.entities.departement">Departements</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                        <i class="ni ni-active-40"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-sm">
                                <span class="text-nowrap">Nombre:</span>
                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 6</span>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                    <!-- Card body -->
                    <a class="dropdown-item" routerLink="module" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <span jhiTranslate="global.menu.entities.module">Module</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                        <i class="ni ni-active-40"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-sm">
                                <span class="text-nowrap">Nombre:</span>
                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 50</span>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                    <!-- Card body -->
                    <a class="dropdown-item" routerLink="etablissement" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <span jhiTranslate="global.menu.entities.etablissement">Etablissement</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                        <i class="ni ni-active-40"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-sm">
                                <span class="text-nowrap">Nombre:</span>
                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 20</span>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div *jhiHasAnyAuthority="'ROLE_ETUDIANT'">
            <jhi-dashboard-etudiant></jhi-dashboard-etudiant>
        </div>

        <div *jhiHasAnyAuthority="'ROLE_ENSEIGNANT'">
            <jhi-dashboard-enseignant></jhi-dashboard-enseignant>
        </div>

    </div>
    </div>
    <div *ngSwitchCase="false">

        <div class="header bg-gradient-danger py-7 py-lg-8">
            <div class="container">
                <div class="header-body text-center mb-7">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-md-6">
                            <h1 class="text-white">Welcome!</h1>
                            <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator separator-bottom separator-skew zindex-100">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </div>
        <!-- Page content -->
        <div class="container mt--8 pb-5">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-7">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                                <small>Sign in with </small>
                            </div>
                            <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input type="text" class="form-control" name="username" id="username" placeholder="{{ 'global.form.username.placeholder' | translate }}"
                                               formControlName="username" #username>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input class="form-control" type="password" name="password" id="password" placeholder="{{ 'login.form.password.placeholder' | translate }}"
                                               formControlName="password">
                                    </div>
                                </div>
                                <div class="custom-control custom-control-alternative custom-checkbox">
                                    <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe">
                                    <label class="custom-control-label" for=" customCheckLogin">
                                        <span class="text-muted">Remember me</span>
                                    </label>
                                </div>
                                <div class="text-center">
                                    <button type="submit" jhiTranslate="login.form.button" class="btn btn-primary my-4">Sign in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a href="javascript:void(0)" class="text-light"><small>Forgot password?</small></a>
                        </div>
                        <div class="col-6 text-right">
                            <a href="javascript:void(0)" class="text-light"><small>Create new account</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









