<div class="row">


    <div class="col-md-12">
        <!--
        <h1 class="display-4 text-center" jhiTranslate="home.title">Welcome, Java Hipster!</h1>

        <p class="lead text-center" jhiTranslate="home.subtitle">This is your homepage</p>
        -->

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{ username: account.login }">You are logged in as user "{{ account.login }}".</span>
            </div>


            <div *ngSwitchCase="false">
                <div class="container-login100" style="background-image: url('../../content/images/pic3.jpg');">
                    <div class="wrap-login100 p-l-20 p-r-20 p-t-20 p-b-20">
                        <form class="login100-form validate-form">


                            <div class="container-login100-form-btn">
                                <button class="login100-form-btn">
                                    Sign In
                                </button>
                            </div>

                            <div class="container-login100-form-btn p-t-10">
                                <button class="login100-form-btn">
                                    Register
                                </button>
                            </div>






                        </form>


                    </div>
                </div>
            </div>
        </div>


        <div *jhiHasAnyAuthority="'ROLE_ETUDIANT'">
            <jhi-dashboard-etudiant></jhi-dashboard-etudiant>
        </div>

        <div *jhiHasAnyAuthority="'ROLE_ENSEIGNANT'">
            <jhi-dashboard-enseignant></jhi-dashboard-enseignant>
        </div>

    </div>
</div>





