<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-etablissement-heading" jhiTranslate="sequortalibApp.etablissement.home.createOrEditLabel">Create or edit a Etablissement</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sequortalibApp.etablissement.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                    <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nom')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sequortalibApp.etablissement.filiere" for="field_filiere">Filiere</label>
                    <input type="text" class="form-control" name="filiere" id="field_filiere"
                           formControlName="filiere"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sequortalibApp.etablissement.cycle" for="field_cycle">Cycle</label>
                    <select class="form-control" name="cycle" formControlName="cycle" id="field_cycle">
                        <option value="MASTER">{{ 'sequortalibApp.Typecycle.MASTER' | translate }}</option>
                        <option value="INGENIERIE">{{ 'sequortalibApp.Typecycle.INGENIERIE' | translate }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
