<div>
    <h2 id="page-heading">
        <span jhiTranslate="sequortalibApp.etablissement.home.title">Etablissements</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-etablissement" [routerLink]="['/etablissement/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sequortalibApp.etablissement.home.createLabel">
            Create a new Etablissement
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="etablissements?.length === 0">
        <span jhiTranslate="sequortalibApp.etablissement.home.notFound">No etablissements found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="etablissements?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="sequortalibApp.etablissement.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="filiere"><span jhiTranslate="sequortalibApp.etablissement.filiere">Filiere</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cycle"><span jhiTranslate="sequortalibApp.etablissement.cycle">Cycle</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let etablissement of etablissements ;trackBy: trackId">
                    <td><a [routerLink]="['/etablissement', etablissement.id, 'view']">{{ etablissement.id }}</a></td>
                    <td>{{ etablissement.nom }}</td>
                    <td>{{ etablissement.filiere }}</td>
                    <td jhiTranslate="{{ 'sequortalibApp.Typecycle.' + etablissement.cycle }}">{{ etablissement.cycle }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/etablissement', etablissement.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/etablissement', etablissement.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(etablissement)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
