<div class="card jh-card">
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="etablissement">
            <h2><span jhiTranslate="sequortalibApp.etablissement.detail.title">Etablissement</span> {{ etablissement.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sequortalibApp.etablissement.nom">Nom</span></dt>
                <dd>
                    <span>{{ etablissement.nom }}</span>
                </dd>
                <dt><span jhiTranslate="sequortalibApp.etablissement.filiere">Filiere</span></dt>
                <dd>
                    <span>{{ etablissement.filiere }}</span>
                </dd>
                <dt><span jhiTranslate="sequortalibApp.etablissement.cycle">Cycle</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'sequortalibApp.Typecycle.' + etablissement.cycle }}">{{ etablissement.cycle }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/etablissement', etablissement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
</div>
